[tool.black]
line-length = 100
target-version = ["py311"]
exclude = '''
/(
  \.git
 | \.venv
 | venv
 | instance
 | migrations
)
/'''

[tool.isort]
profile = "black"
line_length = 100
skip = ["migrations", "venv", ".venv", "instance"]
